<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/7fa15c8e24.js" crossorigin="anonymous"></script>
    <title>Introduction</title>
</head>
<body>
    <div class="p-s container">
        <!-- Navigation -->
        <nav class="navigation">
            <div class="nav-left">
                <a href="../index.html" class="txt-l fw-black p-s m-s">Crypto&nbsp;UI</a>
            </div>
            <div class="nav-right">
                <a href="https://github.com/harshitadaswani" target="_blank" rel="noopener noreferrer" class="txt-l fw-black p-s m-s"><i class="fab fa-github-square icons"></i></i></a>
                <a href="https://www.linkedin.com/in/harshitabdaswani/" target="_blank" rel="noopener noreferrer" class="txt-l fw-black p-s m-s"><i class="fab fa-linkedin icons"></i></a>
                <a href="https://twitter.com/harshi_daswani" target="_blank" rel="noopener noreferrer" class="txt-l fw-black p-s m-s"><i class="fab fa-twitter-square icons"></i></a>
            </div>
        </nav>

        <!-- sidebar content -->
            <aside>
                <div class="list-topic fw-semibold">
                    <a href="../docs/introduction.html">Getting Started</a>
                </div>
                <ul class="list-subtopic">
                    <li class="p-xs m-xs"><a href="../docs/introduction.html">Introduction</a></li>
                    <li class="p-xs m-xs"><a href="../docs/typography.html">Typography</a></li>
                    <li class="p-xs m-xs"><a href="../docs/colors.html">Colors</a></li>
                </ul>

                <div class="list-topic fw-semibold">
                    <a href="avatar.html">Components</a>
                </div>
                <ul class="list-subtopic">
                    <li class="p-xs m-xs"><a href="avatar.html">Avatar</a></li>
                    <li class="p-xs m-xs li-active fw-bold"><a href="alert.html">Alert</a></li>
                    <li class="p-xs m-xs"><a href="badge.html">Badge</a></li>
                    <li class="p-xs m-xs"><a href="button.html">Button</a></li>
                    <li class="p-xs m-xs"><a href="card.html">Card</a></li>
                    <li class="p-xs m-xs"><a href="image.html">Image</a></li>
                    <li class="p-xs m-xs"><a href="input.html">Input</a></li>                    
                </ul>

            </aside>

        <!-- main content -->
        <main class="main-container">
            <h1 class="h1-title">Alert</h1>
            <p class="border-bottom">An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task.</p>
            <h2 class="h2-title">Simple Alert</h2>
            <p>Simple Alerts can be created using alert class, followed by the variant name.</p>
            <div class="alert-div br-l">
                <div class="alert primary">
                    <div class="content">Primary! This is a Primary Alert - Check it now!</div>
                    <i class="fas fa-times icon"></i>
                </div>
                <div class="alert success">
                    <div class="content">Success! This is a Success Alert - Check it now!</div>
                    <i class="fas fa-times icon"></i>
                </div>
                <div class="alert warning">
                    <div class="content">Warning! This is a Warning Alert - Check it now!</div>
                    <i class="fas fa-times icon"></i>
                </div>
                <div class="alert error">
                    <div class="content">Error! This is a Error Alert - Check it now!</div>
                    <i class="fas fa-times icon"></i>
                </div>
            </div>
            <div class="border-bottom"></div>

            <h2 class="h2-title">Outline Alert</h2>
            <p>Outline alerts are created by using alert class, followed by variant-outline.</p>
            <div class="alert-div br-l">
                <div class="alert primary-outline">
                    <div class="content">Primary! This is a Primary Alert - Check it now!</div>
                    <i class="fas fa-times icon"></i>
                </div>
                <div class="alert success-outline">
                    <div class="content">Primary! This is a Primary Alert - Check it now!</div>
                    <i class="fas fa-times icon"></i>
                </div>
                <div class="alert warning-outline">
                    <div class="content">Primary! This is a Primary Alert - Check it now!</div>
                    <i class="fas fa-times icon"></i>
                </div>
                <div class="alert error-outline">
                    <div class="content">Primary! This is a Primary Alert - Check it now!</div>
                    <i class="fas fa-times icon"></i>
                </div>
            </div>
            <div class="border-bottom"></div>

            <!-- <iframe src="https://www.thiscodeworks.com/embed/61f92ced1e1df400153793f8" style="width: 100%; height: 11rem;" frameborder="0" class="border-bottom code-snippet"></iframe> -->
        </main>

        <!-- footer content -->
        <footer>
            <a href="avatar.html" class="fw-semibold txt-s m-s">Avatar</a>
            <a href="badge.html" class="fw-semibold txt-s m-s">Badge</a>
        </footer>
    </div>
</body>
</html>
