.avatar {
    width: var(--xxl-size);
    height: var(--xxl-size);
    border-radius: 50%;
}

.xs-avatar {
    width: var(--m-size);
    height: var(--m-size);
}

.m-avatar {
    width: var(--xl-size);
    height: var(--xl-size);
}

.xl-avatar {
    width: var(--xxl-size);
    height: var(--xxl-size);
}

.example-div {
    background-color: var(--lynx-grey-color);
    margin: var(--l-size);
    width: max-content;
    padding: var(--l-size);
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 3rem;
}
