<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/7fa15c8e24.js" crossorigin="anonymous"></script>
    <title>Avatar | Crypto UI</title>
</head>
<body>
    <div class="p-s container">
        <!-- Navigation -->
        <nav class="navigation">
            <div class="nav-left">
                <a href="../index.html" class="txt-l fw-black p-s m-s">Crypto&nbsp;UI</a>
            </div>
            <div class="nav-right">
                <a href="https://github.com/harshitadaswani" target="_blank" rel="noopener noreferrer" class="txt-l fw-black p-s m-s"><i class="fab fa-github-square icons"></i></i></a>
                <a href="https://www.linkedin.com/in/harshitabdaswani/" target="_blank" rel="noopener noreferrer" class="txt-l fw-black p-s m-s"><i class="fab fa-linkedin icons"></i></a>
                <a href="https://twitter.com/harshi_daswani" target="_blank" rel="noopener noreferrer" class="txt-l fw-black p-s m-s"><i class="fab fa-twitter-square icons"></i></a>
            </div>
        </nav>

        <!-- sidebar content -->
            <aside>
                <div class="list-topic fw-semibold">
                    <a href="../docs/introduction.html">Getting Started</a>
                </div>
                <ul class="list-subtopic">
                    <li class="p-xs m-xs"><a href="../docs/introduction.html">Introduction</a></li>
                    <li class="p-xs m-xs"><a href="../docs/typography.html">Typography</a></li>
                    <li class="p-xs m-xs"><a href="../docs/colors.html">Colors</a></li>
                </ul>

                <div class="list-topic fw-semibold">
                    <a href="avatar.html">Components</a>
                </div>
                <ul class="list-subtopic">
                    <li class="p-xs m-xs li-active fw-bold"><a href="avatar.html">Avatar</a></li>
                    <li class="p-xs m-xs"><a href="alert.html">Alert</a></li>
                    <li class="p-xs m-xs"><a href="badge.html">Badge</a></li>
                    <li class="p-xs m-xs"><a href="button.html">Button</a></li>
                    <li class="p-xs m-xs"><a href="card.html">Card</a></li>
                    <li class="p-xs m-xs"><a href="image.html">Image</a></li>
                    <li class="p-xs m-xs"><a href="input.html">Input</a></li>
                    <li class="p-xs m-xs"><a href="list.html">List</a></li>
                    <li class="p-xs m-xs"><a href="navigation.html">Navigation</a></li> 
                    <li class="p-xs m-xs"><a href="modal.html">Modal</a></li>
                    <li class="p-xs m-xs"><a href="rating.html">Rating</a></li>
                    <li class="p-xs m-xs"><a href="snackbar.html">Snackbar</a></li>
                    <li class="p-xs m-xs"><a href="grid.html">Grid</a></li>                    
                </ul>

            </aside>

        <!-- main content -->
        <main class="main-container">
            <h1 class="h1-title">Avatar</h1>
            <p class="border-bottom">Avatars are user profile pictures, usually found in circular shapes. Avatars can be used for 'container' objects — projects, spaces, repositories, etcetera — to give them a recognisable visual identity.</p>
            <h2 class="h2-title">Profile Avatar</h2>
            <p>Profile Avatars can be created using the class 'avatar', inside the img tag.</p>
            <div class="example-div br-l">
                <img src="../assets/male-avatar.svg" alt="male-avatar" class="avatar">
                <img src="../assets/profile-pic.svg" alt="male-profile" class="avatar">
                <img src="../assets/female-avatar.svg" alt="female-avatar" class="avatar">
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/621262a95362a500156c2bef" style="width: 100%; height: 13rem;" frameborder="0" class="border-bottom code-snippet"></iframe>

            <h2 class="h2-title">Sizes Avatar</h2>
            <p>Size of the avatars can be changed by adding xs-avatar | m-avatar | xl-avatar class to the existing avatar class.</p>
            <div class="example-div br-l">
                <img src="../assets/male-avatar.svg" alt="male-avatar" class="avatar xs-avatar">
                <img src="../assets/profile-pic.svg" alt="male-profile" class="avatar m-avatar">
                <img src="../assets/female-avatar.svg" alt="female-avatar" class="avatar xl-avatar">
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/6212630e5362a500156c2bf3" style="width: 100%; height: 13rem;" frameborder="0" class="border-bottom code-snippet"></iframe>
        </main>
        <footer>
            <a href="" class="m-s"></a>
            <a href="alert.html" class="fw-semibold txt-s m-s">Alert</a>
        </footer>
    </div>
</body>
</html>
