<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/7fa15c8e24.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Card | Crypto UI</title>
</head>

<body>
    <div class="p-s container">

        <nav class="navigation">
            <div class="nav-left">
                <a href="../index.html" class="txt-l fw-black p-s m-s">Crypto&nbsp;UI</a>
            </div>
            <div class="nav-right">
                <a href="https://github.com/harshitadaswani" target="_blank" rel="noopener noreferrer"
                    class="txt-l fw-black p-s m-s"><i class="fab fa-github-square icons"></i></i></a>
                <a href="https://www.linkedin.com/in/harshitabdaswani/" target="_blank" rel="noopener noreferrer"
                    class="txt-l fw-black p-s m-s"><i class="fab fa-linkedin icons"></i></a>
                <a href="https://twitter.com/harshi_daswani" target="_blank" rel="noopener noreferrer"
                    class="txt-l fw-black p-s m-s"><i class="fab fa-twitter-square icons"></i></a>
            </div>
        </nav>

        <aside>
            <div class="list-topic fw-semibold">
                <a href="../docs/introduction.html">Getting Started</a>
            </div>
            <ul class="list-subtopic">
                <li class="p-xs m-xs"><a href="../docs/introduction.html">Introduction</a></li>
                <li class="p-xs m-xs"><a href="../docs/typography.html">Typography</a></li>
                <li class="p-xs m-xs"><a href="../docs/colors.html">Colors</a></li>
            </ul>

            <div class="list-topic fw-semibold">
                <a href="avatar.html">Components</a>
            </div>
            <ul class="list-subtopic">
                <li class="p-xs m-xs"><a href="avatar.html">Avatar</a></li>
                <li class="p-xs m-xs"><a href="alert.html">Alert</a></li>
                <li class="p-xs m-xs"><a href="badge.html">Badge</a></li>
                <li class="p-xs m-xs"><a href="button.html">Button</a></li>
                <li class="p-xs m-xs li-active fw-bold"><a href="card.html">Card</a></li>
                <li class="p-xs m-xs"><a href="image.html">Image</a></li>
                <li class="p-xs m-xs"><a href="input.html">Input</a></li>
                <li class="p-xs m-xs"><a href="list.html">List</a></li>
                <li class="p-xs m-xs"><a href="navigation.html">Navigation</a></li>
                <li class="p-xs m-xs"><a href="modal.html">Modal</a></li>
                <li class="p-xs m-xs"><a href="rating.html">Rating</a></li>
                <li class="p-xs m-xs"><a href="snackbar.html">Snackbar</a></li>
                <li class="p-xs m-xs"><a href="grid.html">Grid</a></li>
                <li class="p-xs m-xs"><a href="slider.html">Slider</a></li>
            </ul>

        </aside>

        <main class="main-container">
            <h1 class="h1-title">Cards</h1>
            <p class="border-bottom">Cards are surfaces that display content and actions on a single topic.They should
                be easy to scan for relevant and actionable information. Elements, like text and images, should be
                placed on them in a way that clearly indicates hierarchy.</p>
            <h2 class="h2-title">Potrait Cards</h2>
            <p>They are cards containing image, text in potrait mode.</p>
            <div class="example-div-width br-l">
                <div class="card-basic">
                    <img class="img-basic" src="https://picsum.photos/300/200" alt="card image" />
                    <h3 class="m-xs">Our Changing Planet</h3>
                    <h4 class="m-xs">By Kurt Wanger</h4>
                    <p class="p-xs m-xs">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam
                        porro facilis perferendis consectetur sunt. Nam exercitationem, veniam
                        iure facere explicabo, vel ipsa suscipit recusandae molestiae quo quae
                        impedit accusamus!
                    </p>
                    <div class="action-btns-basic">
                        <a href="#" class="links-basic">Read</a>
                        <a href="#" class="links-basic">Bookmark</a>
                        <i class="far fa-heart icons-basic"></i>
                        <i class="fas fa-share-alt icons-basic"></i>
                        <i class="fas fa-ellipsis-v icons basic"></i>
                    </div>
                </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/620ab9a631e619001565aab1"
                style="width: 100%; height: 26rem;" class="code-snippet border-bottom" frameborder="0"></iframe>

            <h2 class="h2-title">Landscape Cards</h2>
            <p>They are cards with images, texts, buttons in landscape mode.</p>
            <div class="example-div br-l">
                <div class="card-basic-hori br-s p-xs m-xs">
                    <div class="card-title-hori">
                        <img class="img-basic-hori" src="https://picsum.photos/300/200" alt="card image" />
                        <div class="title-subtitle-hori p-s">
                            <h3 class="title-basic-hori">Our Changing Planet</h3>
                            <h4 class="subtitle-basic-hori">By Kurt Wanger</h4>
                        </div>
                    </div>

                    <p class="content-basic-hori">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam
                        porro facilis perferendis consectetur sunt. Nam exercitationem, veniam
                        iure facere explicabo, vel ipsa suscipit recusandae molestiae quo quae
                        impedit accusamus!
                    </p>
                    <div class="action-btns-basic-hori">
                        <a href="#" class="links-basic-hori">Read</a>
                        <a href="#" class="links-basic-hori">Bookmark</a>
                        <i class="far fa-heart icons-basic-hori"></i>
                        <i class="fas fa-share-alt icons-basic-hori"></i>
                        <i class="fas fa-ellipsis-v icons-basic-hori"></i>
                    </div>
                </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/620ab93031e619001565aab0"
                style="width: 100%; height: 30rem;" class="code-snippet border-bottom" frameborder="0"></iframe>

            <h2 class="h2-title">Card with Badges</h2>
            <p>they are cards with text, image, button and badge.</p>
            <div class="example-div br-l">
                <div class="card-basic-btns card-img">
                    <img
                      class="img-basic-btns"
                      src="https://picsum.photos/300/200"
                      alt="card image"
                    />
                    <i class="fas fa-heart wishlist-btn  br-full"></i>
                    <h3 class="title-basic-btns m-xs">Our Changing Planet</h3>
                    <h4 class="subtitle-basic-btns m-xs">By Kurt Wanger</h4>
                    <p class="p-xs m-xs">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam
                      porro facilis perferendis consectetur sunt. Nam exercitationem, veniam
                      iure facere explicabo, vel ipsa suscipit recusandae molestiae quo quae
                      impedit accusamus!
                    </p>
                    <div class="action-btns-basic-btns p-xs m-xs">
                      <a href="#" class="links-basic-btns">Read</a>
                      <a href="#" class="links-basic-btns">Bookmark</a>
                      <i class="far fa-heart icons-basic-btns"></i>
                      <i class="fas fa-share-alt icons-basic-btns"></i>
                      <i class="fas fa-ellipsis-v icons-basic-btns"></i>
                    </div>
                  </div>
            </div>

            <iframe src="https://www.thiscodeworks.com/embed/620ab84831e619001565aaae"
                style="width: 100%; height: 30rem;" class="code-snippet border-bottom" frameborder="0">
            </iframe>

            <h2 class="h2-title">Card with Dismiss</h2>
            <p>They are cards with text, image, button and dismiss badge.</p>
            <div class="example-div br-l">
                <div class="card-basic-btns card-img">
                    <img
                      class="img-basic-btns"
                      src="https://picsum.photos/300/200"
                      alt="card image"
                    />
                    <i class="fas fa-times wishlist-btn br-full"></i>
                    <h3 class="title-basic-btns m-xs">Our Changing Planet</h3>
                    <h4 class="subtitle-basic-btns m-xs">By Kurt Wanger</h4>
                    <p class="p-xs m-xs">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam
                      porro facilis perferendis consectetur sunt. Nam exercitationem, veniam
                      iure facere explicabo, vel ipsa suscipit recusandae molestiae quo quae
                      impedit accusamus!
                    </p>
                    <div class="action-btns-basic-btns p-xs m-xs">
                      <a href="#" class="links-basic-btns">Read</a>
                      <a href="#" class="links-basic-btns">Bookmark</a>
                      <i class="far fa-heart icons-basic-btns"></i>
                      <i class="fas fa-share-alt icons-basic-btns"></i>
                      <i class="fas fa-ellipsis-v icons-basic-btns"></i>
                    </div>
                  </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/62125dab5362a500156c2be5"
                style="width: 100%; height: 28rem;" class="code-snippet border-bottom" frameborder="0"></iframe>

            <h2 class="h2-title">Card with text overlay</h2>
            <p>They are cards with text overlayed on image.</p>
            <div class="example-div br-l">
                <div class="card-basic-overlay br-s">
                    <img class="img-basic-overlay" src="https://picsum.photos/300/200" alt="card image" />
                    <div class="title-subtitle-overlay m-xs">
                        <h3 class="title-basic-overlay">Our Changing Planet</h3>
                        <h4 class="subtitle-basic-overlay">By Kurt Wanger</h4>
                    </div>
                    <p class="content-overlay p-xs m-xs">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam
                        porro facilis perferendis consectetur sunt. Nam exercitationem, veniam
                        iure facere explicabo, vel ipsa suscipit recusandae molestiae quo quae
                        impedit accusamus!
                    </p>
                    <div class="action-btns-basic-overlay p-xs m-xs">
                        <a href="#" class="links-basic-overlay">Read</a>
                        <a href="#" class="links-basic-overlay">Bookmark</a>
                        <i class="far fa-heart icons-basic-overlay"></i>
                        <i class="fas fa-share-alt icons-basic-overlay"></i>
                        <i class="fas fa-ellipsis-v icons basic-overlay"></i>
                    </div>
                </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/620ab77231e619001565aaaa"
                style="width: 100%; height: 28rem;" class="code-snippet border-bottom" frameborder="0">
            </iframe>

            <h2 class="h2-title">Card with only text</h2>
            <p>They are cards with only text.</p>
            <div class="example-div br-l">

                <div class="card-basic-header p-s m-s">
                    <img class="img-basic-header" src="https://picsum.photos/300/200" alt="card image" />
                    <h3 class="title-basic-header">Our Changing Planet</h3>
                    <h4 class="subtitle-basic-header">By Kurt Wanger</h4>
                    <p class="p-xs">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam
                        porro facilis perferendis consectetur sunt. Nam exercitationem, veniam
                        iure facere explicabo, vel ipsa suscipit recusandae molestiae quo quae
                        impedit accusamus!
                    </p>
                    <div class="action-btns-basic-header">
                        <a href="#" class="links-basic-header">Read</a>
                        <a href="#" class="links-basic-header">Bookmark</a>
                        <i class="far fa-heart icons-basic-header"></i>
                        <i class="fas fa-share-alt icons-basic-header"></i>
                        <i class="fas fa-ellipsis-v icons basic-header"></i>
                    </div>
                </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/620ab6e831e619001565aaa9"
                style="width: 100%; height: 25rem;" class="code-snippet border-bottom" frameborder="0">
            </iframe>

            <h2 class="h2-title">Card with shadow</h2>
            <p>They are cards with box shadows.</p>
            <div class="example-div br-l">
                <div class="card-basic-icons">
                    <img
                      class="img-basic-icons"
                      src="https://picsum.photos/300/200"
                      alt="card image"
                    />
                    <h3 class="title-basic-icons m-xs">Our Changing Planet</h3>
                    <h4 class="subtitle-basic-icons m-xs">By Kurt Wanger</h4>
                    <p class="m-xs p-xs">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsam
                      porro facilis perferendis consectetur sunt. Nam exercitationem, veniam
                      iure facere explicabo, vel ipsa suscipit recusandae molestiae quo quae
                      impedit accusamus!
                    </p>
                    <div class="action-btns-basic-icons m-xs">
                      <a href="#" class="links-basic-icons">Read</a>
                      <a href="#" class="links-basic-icons">Bookmark</a>
                      <i class="far fa-heart icons-basic-icons"></i>
                      <i class="fas fa-share-alt icons-basic-icons"></i>
                      <i class="fas fa-ellipsis-v icons-basic-icons"></i>
                    </div>
                  </div>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/62125dfe5362a500156c2be6"
                style="width: 100%; height: 25rem;" class="code-snippet border-bottom" frameborder="0">
            </iframe>
        </main>

        <footer>
            <a href="button.html" class="fw-semibold txt-s m-s">Button</a>
            <a href="image.html" class="fw-semibold txt-s m-s">Image</a>
        </footer>
    </div>
</body>
</html>
