<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/7fa15c8e24.js" crossorigin="anonymous"></script>
    <title>Grid | Crypto UI</title>
</head>
<body>
    <div class="p-s container">

        <nav class="navigation">
            <div class="nav-left">
                <a href="../index.html" class="txt-l fw-black p-s m-s">Crypto&nbsp;UI</a>
            </div>
            <div class="nav-right">
                <a href="https://github.com/harshitadaswani" target="_blank" rel="noopener noreferrer" class="txt-l fw-black p-s m-s"><i class="fab fa-github-square icons"></i></i></a>
                <a href="https://www.linkedin.com/in/harshitabdaswani/" target="_blank" rel="noopener noreferrer" class="txt-l fw-black p-s m-s"><i class="fab fa-linkedin icons"></i></a>
                <a href="https://twitter.com/harshi_daswani" target="_blank" rel="noopener noreferrer" class="txt-l fw-black p-s m-s"><i class="fab fa-twitter-square icons"></i></a>
            </div>
        </nav>

            <aside>
                <div class="list-topic fw-semibold">
                    <a href="../docs/introduction.html">Getting Started</a>
                </div>
                <ul class="list-subtopic">
                    <li class="p-xs m-xs"><a href="../docs/introduction.html">Introduction</a></li>
                    <li class="p-xs m-xs"><a href="../docs/typography.html">Typography</a></li>
                    <li class="p-xs m-xs"><a href="../docs/colors.html">Colors</a></li>
                </ul>

                <div class="list-topic fw-semibold">
                    <a href="avatar.html">Components</a>
                </div>
                <ul class="list-subtopic">
                    <li class="p-xs m-xs"><a href="avatar.html">Avatar</a></li>
                    <li class="p-xs m-xs"><a href="alert.html">Alert</a></li>
                    <li class="p-xs m-xs"><a href="badge.html">Badge</a></li>
                    <li class="p-xs m-xs"><a href="button.html">Button</a></li>
                    <li class="p-xs m-xs"><a href="card.html">Card</a></li>
                    <li class="p-xs m-xs"><a href="image.html">Image</a></li>
                    <li class="p-xs m-xs"><a href="input.html">Input</a></li>
                    <li class="p-xs m-xs"><a href="list.html">List</a></li>
                    <li class="p-xs m-xs"><a href="navigation.html">Navigation</a></li> 
                    <li class="p-xs m-xs"><a href="modal.html">Modal</a></li>
                    <li class="p-xs m-xs"><a href="rating.html">Rating</a></li>
                    <li class="p-xs m-xs"><a href="snackbar.html">Snackbar</a></li>
                    <li class="p-xs m-xs li-active fw-bold"><a href="grid.html">Grid</a></li>
                    <li class="p-xs m-xs"><a href="slider.html">Slider</a></li>                    
                </ul>

            </aside>

        <main class="main-container">
            <h1 class="h1-title">Grids</h1>
            <p class="border-bottom">The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages without having to use floats and positioning.</p>
            <h2 class="h2-title">2 x 2 Responsive Grids</h2>
            <p>These are 2 x 2 responsive grids.</p>
            <div class="grid-div-2 br-l p-s m-s">
                <p class="grid-items-2 br-m p-s m-s">One</p>
                <p class="grid-items-2 br-m p-s m-s">Two</p>
                <p class="grid-items-2 br-m p-s m-s">Three</p>
                <p class="grid-items-2 br-m p-s m-s">Four</p>
                <p class="grid-items-2 br-m p-s m-s">Five</p>
                <p class="grid-items-2 br-m p-s m-s">Six</p>
                <p class="grid-items-2 br-m p-s m-s">Seven</p>
                <p class="grid-items-2 br-m p-s m-s">Eight</p>
                <p class="grid-items-2 br-m p-s m-s">Nine</p>
                <p class="grid-items-2 br-m p-s m-s">Ten</p>
                <p class="grid-items-2 br-m p-s m-s">Eleven</p>
                <p class="grid-items-2 br-m p-s m-s">Twelve</p>
            </div>
            <iframe src="https://www.thiscodeworks.com/embed/6204055ac6efb50015062da3" style="width: 100%; height: 22rem;" class="code-snippet border-bottom" frameborder="0"></iframe>

            <h2 class="h2-title">3 x 3 Responsive Grids</h2>
            <p>These are 3 x 3 responsive grids.</p>
                <div class="grid-div-3 br-l p-s m-s">
                    <p class="grid-items-3 br-m p-s m-s">One</p>
                    <p class="grid-items-3 br-m p-s m-s">Two</p>
                    <p class="grid-items-3 br-m p-s m-s">Three</p>
                    <p class="grid-items-3 br-m p-s m-s">Four</p>
                    <p class="grid-items-3 br-m p-s m-s">Five</p>
                    <p class="grid-items-3 br-m p-s m-s">Six</p>
                    <p class="grid-items-3 br-m p-s m-s">Seven</p>
                    <p class="grid-items-3 br-m p-s m-s">Eight</p>
                    <p class="grid-items-3 br-m p-s m-s">Nine</p>
                    <p class="grid-items-3 br-m p-s m-s">Ten</p>
                    <p class="grid-items-3 br-m p-s m-s">Eleven</p>
                    <p class="grid-items-3 br-m p-s m-s">Twelve</p>
                </div>
            
                <iframe src="https://www.thiscodeworks.com/embed/620405c7c6efb50015062da7" style="width: 100%; height: 22rem;" class="code-snippet border-bottom" frameborder="0"></iframe>
        </main>

        <footer>
            <a href="snackbar.html" class="fw-semibold txt-s m-s">Snackbar</a>
            <a href="slider.html" class="fw-semibold txt-s m-s">Slider</a>
        </footer>
    </div>
</body>
</html>
