@import url(base.css);

.navigation {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.tagline {
    text-align: center;
    color: var(--secondary-action);
    margin: auto;
}

.subtitle {
    margin: auto;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--xl-size);
}

.action {
    background-color: var(--action-color);
    color: var(--white-color);
    border: none;
    width: 8rem;    
}

.s-action {
    background-color:var(--primary-color);
    border: none;
    color: var(--white-color);
    width: 8rem;
}

/* .s-action:hover{
    background-color: #da8b41;
}

.action:hover{
    background-color: #b14c5f;
} */

@media only screen and (max-width: 650px) {
    .action,.s-action {
        width: 7.5rem;
    }
}
