@import url(base.css);

.navigation {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.tagline {
    text-align: center;
    color: var(--violet);
    max-width: 80%;
    margin: auto;
}

.subtitle {
    max-width: 80%;
    margin: auto;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--xl-size);
}

.action {
    background-color: var(--violet);
    color: var(--white-color);
    border: none;
}

.s-action {
    background-color: var(--action-color);
    border: none;
    color: var(--white-color);
}

